{%- if article and article != empty -%}
  {%- if article.image -%}
    <div class="inner-card">
      <a href="{{ article.url }}">
        <img
          src="{{ article.image.src | image_url: width: 483, height: 362 }}"
          alt="{{ article.image.src.alt | escape }}"
          class="blog-image"
          loading="lazy"
          width="{{ 483 }}"
          height="{{ 362 }}"
        >
      </a>
    </div>
  {%- endif -%}
  <div class="blog-data">
    <a href="{{ article.url }}" class="blog-title">
      {{ article.title | truncate: 50 | escape }}
    </a>
    <div class="card-data">
      <p>Posted by <strong>{{ article.author }}</strong></p>
      <p>{{ article.published_at | date: format: 'abbreviated_date' }}</p>
    </div>
    <p class="card-para">{{ article.content | strip_html | truncate: 320 }}...</p>
    <div class="social-media-icon">
      <a class="btn btn-demo-primary" href="{{ article.url }}">READ MORE</a>
    </div>
  </div>
{%- endif -%}
