<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
</head>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#1e1e1e">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
    {%- style -%}
      body *::-webkit-scrollbar {
        border-radius: 0;
        background-color: transparent;
        height: 3px;
        width: 3px;
      }
      body *::-webkit-scrollbar-thumb {
        background: #4f4f4f;
        border-radius: 0;
      }
      body *::-webkit-scrollbar-track {
        border-radius: 0;
      }
    {%- endstyle -%}
    {{ 'style.min.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'jquery.min.js' | asset_url }}" defer></script>
    <script src="{{ 'bootstrap.bundle.min.js' | asset_url }}" defer></script>
    <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
    <script src="{{ 'script.js' | asset_url }}" defer></script>
    <script>
  $(document).ready(function() {
    $('#newsletter-form').submit(function(event) {
      event.preventDefault(); // Prevent default form submission

      // Serialize form data
      var formData = $(this).serialize();

      // Send form data via AJAX
      $.ajax({
        type: $(this).attr('method'),
        url: $(this).attr('action'),
        data: formData,
        success: function(response) {
          // Handle successful form submission
          // You can display a success message or perform any other actions
          console.log('Form submitted successfully');
          // Clear form fields if needed
          $('#newsletter-form')[0].reset();
        },
        error: function(jqXHR, textStatus, errorThrown) {
          // Handle form submission errors
          console.error('Form submission failed:', errorThrown);
        }
      });
    });
  });
</script>
    
    {{ content_for_header }}
  </head>
  <body>
    {% section 'header' %}
    <main id="MainContent" class="content-for-layout" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
  </body>
</html>
