<section id="MainProduct-{{ section.id }}" class="product">
  <div class="container-fluid">
    <div class="inner-wrapper">
      <div class="product-content">
        <div class="flex-shrink-1">
          <div class="d-flex h-100 flex-column">
            <div class="gallery">
              <div class="wrap">
                <div class="sliders">
                  <div class="mainSwiper">
                    <div class="swiper main-swiper" data-loop="{% if product.media.size > 0 %}true{% else %}false{% endif %}">
                      <div class="swiper-wrapper">
                      {%- for media in product.media -%}
                        <div class="swiper-slide">
                          <div class="image">
                            <img src="{{ media | image_url: width: 365 }}"
                              alt="{{ media.alt | escape }}"
                              height="{{ 365 | divided_by: media.aspect_ratio }}"
                              width="365"
                              loading="lazy"
                              class="img-fluid"
                            />
                          </div>
                        </div>
                      {%- endfor -%}
                      </div>
                    </div>
                  </div>
                  <div class="thumbSwiper">
                    <div class="swiper thumb-swiper" data-loop="{% if product.media.size > 3 %}true{% else %}false{% endif %}">
                      <div class="swiper-wrapper">
                      {%- for media in product.media -%}
                        <div class="swiper-slide">
                          <div class="image-thumb text-center">
                            <img src="{{ media | image_url: width: 120 }}"
                              alt="{{ media.alt | escape }}"
                              height="{{ 120 | divided_by: media.aspect_ratio }}"
                              width="84"
                              loading="lazy"
                              class="img-fluid w-100 h-100"
                              style="object-fit:contain;"
                            />
                          </div>
                        </div>
                      {%- endfor -%}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-shrink-1">
          <div class="info">
            <div class="product-form">
              <h1 class="title">{{ product.title | escape }}</h1>
              <div class="prices">
                <h3 class="our-price">{{ product.price | money_with_currency }}</h3>
                {% if product.compare_at_price != blank %}
                <h4 class="retail-price">{{ product.compare_at_price | money_with_currency }}</h4>
                {% endif %}
              </div>
              <div class="description">{{ product.description }}</div>
              <div className="additional-info">
                <div className="info-block">
                  <strong>This product is organic, vegan & natural.</strong>
                </div>
                <div class="info-block my-4">
                  <div class="info-inline">
                    <span>Weight: </span>
                    <strong>{{ product.selected_or_first_available_variant.weight }} {{ product.selected_or_first_available_variant.weight_unit }}</strong>
                  </div>
                </div>
              </div>
              <div class="form-wrapper">
                {% if product.variants.size > 1 %}
                  <div class="variant-types">
                    <div class="type mb-4">
                      <h4>
                        <span>Denominations : </span>
                        <strong class="denomination">{{ product.selected_or_first_available_variant.price | money }}</strong>
                      </h4>
                      {%- for variant in product.variants -%}
                        <button
                          type="button"
                          value="{{ variant.price | money }}"
                          class="btn btn-sm btn-demo-primary me-3 {% if product.selected_or_first_available_variant.id == variant.id %}active{% endif %}"
                          data-id={{ variant.id | escape}}
                          data-title={{ variant.title | escape }}
                        >
                          {{ variant.price | money }}
                          </button>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
                <div class="add-to-cart">
                  <div class="flex-grow-1 my-auto">
                      <div class="d-flex">
                        <div class="flex-shrink-1 my-auto">
                          <div class="quantity-selector">
                            <button type="button" class="btn-quantity minus" aria-label="Quantity Minus"></button>
                            <span class="quantity-value">1</span>
                            <button type="button" class="btn-quantity plus" aria-label="Quantity Plus"></button>
                          </div>
                        </div>
                        <div class="flex-grow-1 my-auto">
                          <button
                            type="button"
                            id="add2cart"
                            class="btn btn-demo-primary w-100"
                            {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                            data-variant="{{ product.selected_or_first_available_variant.id }}"
                            data-quantity="1"
                          >
                            {%- if product.selected_or_first_available_variant.available -%}
                              {{ 'Add To Bag' }}
                            {%- else -%}
                              {{ 'Sold Out' }}
                            {%- endif -%}
                          </button>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="about-us">
              <h5 class="title">About Us</h5>
              <div class="description">
                <p>
                  <strong>We are 100% Handmade in Toronto, Canada.</strong> We
                  are proud to be doing what we love since 2004. We make
                  everything ourselves in small batches in our Liberty Village
                  studio. We focus on using the highest quality ingredients
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <product-recommendations class="related-products" data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=6">
        {% if recommendations.performed and recommendations.products_count > 0 %}
          <div class="title-area">
            <h4>{{ 'YOU MIGHT LIKE THESE' | escape }}</h4>
          </div>
          <div class="products">
            <div class="swiper related-swiper">
              <div class="swiper-wrapper">
              {% for recommendation in recommendations.products %}
                <div class="swiper-slide">
                  <div class="box">
                    <div class="product">
                      <div class="product-img">
                        <img
                          src="{{ recommendation.featured_media | image_url: width: 270 }}"
                          alt="{{ recommendation.title | escape }}"
                          loading="lazy"
                          width="270"
                          height="{{ 270 | divided_by: recommendation.featured_media.aspect_ratio }}"
                          class="img-fluid"
                          style="object-fit:cover;"
                        />
                      </div>
                      <div class="content">
                        <h5 class="title">{{ recommendation.title }}</h5>
                        <h6 class="price">{{ recommendation.price | money_with_currency }}</h6>
                      </div>
                      <div class="actions">
                        <div class="learn-more">
                          <a class="btn btn-demo-primary" href="{{ recommendation.url }}">See {{ recommendation.title | truncatewords: 2 }}</a
                          >
                        </div>
                        <div class="add-to-bag">
                          <a href="javascript: void(0)" class="btn btn-demo-secondary" data-id="{{ recommendation.variants[0].id }}">ADD TO BAG</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              </div>
            </div>
            <div class="slider-nav">
              <button
                class="btn-swiper prev-icon swiper-button-disabled"
                aria-label="Slide Left"
                disabled=""
              >
                <svg
                  xmlns="//www.w3.org/2000/svg"
                  viewBox="0 0 69 23"
                  fill="none"
                  width="70"
                  height="21"
                >
                  <path
                    d="M68.976 10.6997L2.15546 10.6997"
                    stroke="#ffffff"
                    stroke-linecap="round"
                    stroke-linejoin="bevel"
                  ></path>
                  <path
                    d="M68.976 10.6997L2.15546 10.6997"
                    stroke="#1E1E1E"
                    stroke-linecap="round"
                    stroke-linejoin="bevel"
                  ></path>
                  <path
                    d="M10.6997 1L0.999959 10.6997L10.6997 20.3995"
                    stroke="#ffffff"
                    stroke-linecap="round"
                    stroke-linejoin="bevel"
                  ></path>
                  <path
                    d="M10.6997 1L0.999959 10.6997L10.6997 20.3995"
                    stroke="#1E1E1E"
                    stroke-linecap="round"
                    stroke-linejoin="bevel"
                  ></path>
                </svg>
              </button>
              <button class="btn-swiper next-icon" aria-label="Slide Right">
                <svg
                  xmlns="//www.w3.org/2000/svg"
                  viewBox="0 0 69 23"
                  fill="none"
                  width="70"
                  height="21"
                >
                  <path
                    d="M0.976074 10.6997L67.7966 10.6997"
                    stroke="#ffffff"
                    stroke-linecap="round"
                    stroke-linejoin="bevel"
                  ></path>
                  <path
                    d="M0.976074 10.6997L67.7966 10.6997"
                    stroke="#1E1E1E"
                    stroke-linecap="round"
                    stroke-linejoin="bevel"
                  ></path>
                  <path
                    d="M59.2522 20.3994L68.9519 10.6997L59.2522 0.999919"
                    stroke="#ffffff"
                    stroke-linecap="round"
                    stroke-linejoin="bevel"
                  ></path>
                  <path
                    d="M59.2522 20.3994L68.9519 10.6997L59.2522 0.999919"
                    stroke="#1E1E1E"
                    stroke-linecap="round"
                    stroke-linejoin="bevel"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
        {% endif %}
      </product-recommendations>
    </div>
  </div>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": {{ product.title | json }},
      "url": {{ request.origin | append: product.url | json }},
      "description": {{ product.description | strip_html | json }},
      {% if product.selected_or_first_available_variant.sku != blank -%}
        "sku": {{ product.selected_or_first_available_variant.sku | json }},
      {%- endif %}
      "brand": {
        "@type": "Brand",
        "name": {{ product.vendor | json }}
      },
      "offers": [
        {%- for variant in product.variants -%}
          {
            "@type" : "Offer",
            {%- if variant.sku != blank -%}
              "sku": {{ variant.sku | json }},
            {%- endif -%}
            {%- if variant.barcode.size == 12 -%}
              "gtin12": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 13 -%}
              "gtin13": {{ variant.barcode }},
            {%- endif -%}
            {%- if variant.barcode.size == 14 -%}
              "gtin14": {{ variant.barcode }},
            {%- endif -%}
            "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
            "price" : {{ variant.price | divided_by: 100.00 | json }},
            "priceCurrency" : {{ cart.currency.iso_code | json }},
            "url" : {{ request.origin | append: variant.url | json }}
          }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    }
  </script>
</section>
{% javascript %}
  class ProductRecommendations extends HTMLElement {
    constructor() {
      super();

      const handleIntersection = (entries, observer) => {
        if (!entries[0].isIntersecting) return;
        observer.unobserve(this);

        fetch(this.dataset.url)
          .then(response => response.text())
          .then(text => {
            const html = document.createElement('div');
            html.innerHTML = text;
            const recommendations = html.querySelector('product-recommendations');

            if (recommendations && recommendations.innerHTML.trim().length) {
              this.innerHTML = recommendations.innerHTML;
            }
            new Swiper('.related-swiper', {
              slidesPerView: 2.2,
              spaceBetween: 0,
              navigation: {
                nextEl: '.related-products .btn-swiper.next-icon',
                prevEl: '.related-products .btn-swiper.prev-icon'
              },
              breakpoints: {
                768: {
                  spaceBetween: 0,
                  slidesPerView: 2.5
                },
                992: {
                  spaceBetween: 20,
                  slidesPerView: 3
                },
              }
            })
          })
          .catch(e => {
            console.error(e);
          });
      }

      new IntersectionObserver(handleIntersection.bind(this), {rootMargin: '0px 0px 200px 0px'}).observe(this);
    }
  }

  customElements.define('product-recommendations', ProductRecommendations);
{% endjavascript %}
{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section"
}
{% endschema %}
