<section class="contact-us mb-0">
  <div id="recover" class="d-none">
    <div class="page-title">
      <h1>{{ 'customer.recover_password.title' | t }}</h1>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        {%- form 'recover_customer_password', class: "col-md-4" -%}
          {% assign recover_success = form.posted_successfully? %}
          <div class="field my-5">
            <input
              type="email"
              value=""
              name="email"
              id="RecoverEmail"
              class="form-control"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="RecoverEmail-email-error"
                autofocus
              {% endif %}
              placeholder="{{ 'Email' }}"
            />
          </div>
          {%- if form.errors -%}
            <div class="alert alert-danger" role="alert">
              <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 13 13" height="13" width="13">
                <circle cx="6.5" cy="6.50049" r="5.5" stroke="#ffffff" stroke-width="2"/>
                <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="#ffffff"/>
                <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="#ffffff" stroke="#EB001B" stroke-width="0.7">
              </svg>
              {{ form.errors.messages['form'] }}
            </div>
          {%- endif -%}
          <div class="field d-flex justify-content-between">
            <button class="btn btn-demo-primary btn-submit">{{ 'Submit' }}</button>
            <a href="#login" class="btn btn-demo-secondary btn-cancel">{{ 'customer.login_page.cancel' | t }}</a>
          </div>
        {%- endform -%}
      </div>
    </div>
  </div>
  <div id="login" class="d-block">
    <div class="page-title">
      <h1>{{ 'customer.login_page.title' | t }}</h1>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        {%- form 'customer_login', novalidate: 'novalidate', class: "col-md-4 mb-4" -%}
          {%- if recover_success == true -%}
            <div class="col-md-4">
              <div class="alert alert-success" role="alert">
                <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 13 13" height="13" width="13">
                  <path d="M6.5 12.35C9.73087 12.35 12.35 9.73086 12.35 6.5C12.35 3.26913 9.73087 0.65 6.5 0.65C3.26913 0.65 0.65 3.26913 0.65 6.5C0.65 9.73086 3.26913 12.35 6.5 12.35Z" fill="#428445" stroke="#ffffff" stroke-width="0.7"/>
                  <path d="M5.53271 8.66357L9.25213 4.68197" stroke="#ffffff" />
                  <path d="M4.10645 6.7688L6.13766 8.62553" stroke="#ffffff" />
                </svg>
                {{ 'customer.recover_password.success' | t }}
              </div>
            </div>
          {%- endif -%}
          {%- if form.errors -%}
            <div class="alert alert-danger mt-3 mb-0" role="alert">
              <div>
                <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 13 13" height="13" width="13">
                  <circle cx="6.5" cy="6.50049" r="5.5" stroke="#ffffff" stroke-width="2"/>
                  <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                  <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="#ffffff"/>
                  <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="#ffffff" stroke="#EB001B" stroke-width="0.7">
                </svg>
                {{ 'templates.contact.form.error_heading' | t }}
              </div>
              <ul class="mb-0">
                {%- for field in form.errors -%}
                  <li>
                    {%- if field == 'form' -%}
                      {{ form.errors.messages[field] }}
                    {%- else -%}
                      <a href="#RegisterForm-{{ field }}">
                        {{ form.errors.translated_fields[field] | capitalize }}
                        {{ form.errors.messages[field] }}
                      </a>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}
          <div class="field my-5">
            <input
              type="email"
              name="customer[email]"
              id="CustomerEmail"
              class="form-control"
              autocomplete="email"
              autocorrect="off"
              autocapitalize="off"
              aria-label="Email"
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
              placeholder="{{ 'Email' }}"
            />
          </div>
          <div class="field my-5">
            <input
              type="password"
              value=""
              name="customer[password]"
              id="CustomerPassword"
              class="form-control"
              autocomplete="current-password"
              aria-label="Password"
              {% if form.errors contains 'form' %}
                aria-invalid="true"
              {% endif %}
              placeholder="{{ 'Password' }}"
            />
          </div>
          <div class="field d-flex justify-content-between">
            <button class="btn btn-demo-primary btn-submit">{{ 'Login' }}</button>
            <a href="#recover" class="btn btn-demo-secondary btn-forgot">Forgot your password?</a>
          </div>
        {%- endform -%}
        <div class="row justify-content-center">
          <div class="col-md-4 text-center">
            <p>Don't have an account? <a href="{{ routes.account_register_url | escape }}">Create One</a> now.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% javascript %}
(function ($) {
  $(document).ready(function () {
    $('.btn-forgot').click(function (event) {
      event.preventDefault()
      $($('.btn-cancel').attr('href')).removeClass('d-block').addClass('d-none')
      $($(this).attr('href')).removeClass('d-none').addClass('d-block')
    })
    $('.btn-cancel').click(function (event) {
      event.preventDefault()
      $($('.btn-forgot').attr('href')).removeClass('d-block').addClass('d-none')
      $($(this).attr('href')).removeClass('d-none').addClass('d-block')
    })
    // $('#customer_login').submit(function (e) {
    //   e.preventDefault();
    //   console.log('here')
    //   $.ajax({
    //     type: $(this).attr('method'),
    //     url: $(this).attr('action'),
    //     data: $(this).serialize(),
    //     dataType: 'html',
    //     async: true,
    //     success: function (data) {
    //       // $('#responseDiv').html(data);
    //       console.log("🚀 ~ file: main-login.liquid ~ line 141 ~ data", data)
    //       // if($.('#responseDiv .errors').length > 0){
    //       //   console.log("ERRORS FOUND")
    //       // } else {
    //       //   location.reload();
    //       // }
    //     }
    //   })
    // })
    // function login(email, password) {
    //   var data = {
    //     'customer[email]': email,
    //     'customer[password]': password,
    //     form_type: 'customer_login',
    //     utf8: '✓'
    //   };
    //   $.ajax({
    //     url: '/account/login',
    //     method: 'post',
    //     data: data,
    //     dataType: 'html',
    //     async: true
    //   });
    // }
  })
})(jQuery)
{% endjavascript %}